.root
  position: relative
  display: inline-flex
  flex-shrink: 0

.content
  display: flex
  align-items: center
  justify-content: center
  position: absolute
  font-size: 0.75rem
  line-height: 1
  border-radius: 10px
  transform: scale(1) translate(50%, -50%)
  transition: transform 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms
  transform-origin: 100% 0
  z-index: 1

.anchorOriginTopRight
  top: 0
  right: 0

.anchorOriginTopLeft
  top: 0
  right: 100%

.anchorOriginBottomRight
  top: 100%
  right: 0

.anchorOriginBottomLeft
  top: 100%
  right: 100%

.defaultColor
  color: hsla(0, 0%, 0%, 0.8)
  background-color: #f0f0f0

.primaryColor
  color: #ffffff
  background-color: var(--color-primary-main)

.secondaryColor
  color: #ffffff
  background-color: var(--color-secondary-main)

.infoColor
  color: #ffffff
  background-color: var(--color-info-main, LightSkyBlue)

.successColor
  color: #ffffff
  background-color: var(--color-success-main, green)

.errorColor
  color: #ffffff
  background-color: var(--color-error-main, crimson)

.warningColor
  color: #ffffff
  background-color: var(--color-warning-main, orange)

.standard
  min-width: 20px
  height: 20px
  padding: 0 6px

.dot
  min-width: 8px
  height: 8px
  border-radius: 4px

.invisible
  .content
    transform: scale(0) translate(50%, -50%)