\:root
  --color-body-main: #000

  --color-primary-main: hsl(200, 75%, 70%)
  --color-primary-light: hsl(200, 75%, 85%)
  --color-primary-dark: hsl(200, 75%, 55%)

  --color-secondary-main: hsl(320, 80%, 55%)
  --color-secondary-light: hsl(320, 80%, 65%)
  --color-secondary-dark: hsl(320, 80%, 45%)

*, *::before, *::after
  box-sizing: border-box

body
  font-size: 16px
  color: var(--color-body-main)
  font-family: 'Roboto', 'Arial', sans-serif
