\:root
  --color-body-main: #000

  --color-primary-main: hsl(200, 75%, 70%)
  --color-primary-light: hsl(200, 75%, 85%)
  --color-primary-dark: hsl(200, 75%, 55%)

  --color-secondary-main: hsl(320, 80%, 55%)
  --color-secondary-light: hsl(320, 80%, 65%)
  --color-secondary-dark: hsl(320, 80%, 45%)

  --color-info-main: hsl(190, 90%, 50%)
  --color-success-main: hsl(160, 65%, 30%)
  --color-error-main: hsl(350, 70%, 50%)
  --color-warning-main: hsl(45, 100%, 50%)

*, *::before, *::after
  box-sizing: border-box

body
  font-size: 16px
  color: var(--color-body-main)
  font-family: 'Roboto', 'Arial', sans-serif
